@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using BlazorApp.Common.ViewModels
@using BlazorApp.Services.Interface
@inject ICourseManagementService _Course



@if (courseVM.CourseName == null)
{
    <div class="col-md-12 mb-4" >
        <h6>You Have Not Add Course Yet, Please Add Your Course</h6>
    </div>
    <div class="col-md-12" >
        <a class="btn btn-labeled btn-dgreen" href="addcourse" role="button" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 20px; width: 280px; margin-left: 50px; margin-right50px;">
            <span style="position: relative; left: -12px; display: inline-block; padding: 12px 24px; background: rgba(0,0,0,0.15); border-radius: 6px 0 0 6px;"><i class="oi oi-plus"></i></span>Add Course
        </a>
    </div>
}
else
{
   
    <div class="card text-center mb-6">
  <div class="card-header">
    <strong>@courseVM.CourseName</strong>
  </div>

  <div class="card-body">
    <h5 class="card-title"><strong>Year : </strong> @courseVM.CourseYear</h5>
    <p class="card-text mb-0"><strong>Current Progress : </strong>@courseVM.CourseProgress % </p>
      <div class="progress mb-2">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="@courseVM.CourseProgress" aria-valuemin="0" aria-valuemax="100" style="width:@courseVM.CourseProgress%">
  </div>
</div>
    
    <p class="card-text"><strong>Your Degree Classification : </strong> @courseVM.DegreeClassification </p>
  </div>
  <div class="card-footer text-muted">
   <a href="/module/index"  class="btn btn-primary"><i>Go to your Course Modules</i></a>
  </div>
</div>

}

@code {
    public string UserName;
    string Successmessage = null;
    string Failuremessage = null;
    CourseVM courseVM = new CourseVM();
    protected override async Task OnInitializedAsync()
    {
        UserName = HttpContextAccessor.HttpContext.User.Identity.Name;
        var course = _Course.GetUserCourse(UserName);
        if (course !=null)
        {
            courseVM = course;
            float f = course.CourseProgress;
            float fc = (float)Math.Round(f * 100f) / 100f;
            courseVM.CourseProgress = fc;
        }
       
    }
}

